<inz-form-array [forms]="formGroups" [generator]="generator" (save)="save()" label="Part probe">

  <ng-template #controls let-index="index">
    <inz-form [form]="formGroups[index]" label="Base">
      <inz-input controlName="description" [required]="false" label="Description"></inz-input>
      <inz-select controlName="probe_type" [required]="true" [options]="probeType" label="Probe type"></inz-select>
      <inz-select controlName="dimensionality" [required]="true" [options]="sensorDimensionality"
                  label="Dimensionality"></inz-select>
      <inz-input controlName="setting_time" [required]="false" label="Setting time"></inz-input>

      <inz-form [form]="formGroups[index].controls['device_id']" label="Device id" [required]="true">
        <inz-device-id-controls></inz-device-id-controls>
      </inz-form>

    </inz-form>
  </ng-template>

</inz-form-array>
