<inz-form [form]="turretForm">
  <inz-tool-handling-unit-form [toolHandlingUnitForm]="turretForm"></inz-tool-handling-unit-form>
  <!--ToDo: make input array-->
  <!--<inz-input controlName="spindle_name" label="Spindle name"></inz-input>-->
  <inz-input controlName="number_of_fixed_tools" label="Number of fixed tools"></inz-input>
  <inz-input controlName="number_of_rotating_tools" label="Number of rotating tools"></inz-input>
  <inz-input controlName="cut_to_cut_min_turret_index_time" label="Cut to cut min turret index time"></inz-input>
  <inz-input controlName="cut_to_cut_max_turret_index_time" label="Cut to cut max turret index time"></inz-input>
</inz-form>
