<div [formGroup]="machineToolElementsForm">
  <div formArrayName="machine_tool_elements">
    <div *ngFor="let a of machineToolElements.controls; let i=index">

      <inz-card-action [cardName]="'Machine Tool Element #' + (1+i)"
                       (remove)="removeMachineToolElement(i)">
        <div [formGroupName]="i">
          <div class="form-group row">
            <label [for]="'name_'+i" class="col-12 col-sm-12 col-md-3 col-form-label required">Name</label>
            <div class="col-12 col-sm-12 col-md-9">
              <input formControlName="name" [id]="'name_'+i" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label [for]="'description_'+i" class="col-12 col-sm-12 col-md-3 col-form-label">Description</label>
            <div class="col-12 col-sm-12 col-md-9">
              <input formControlName="description" [id]="'description_'+i" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label [for]="'weight_'+i" class="col-12 col-sm-12 col-md-3 col-form-label">Weight</label>
            <div class="col-12 col-sm-12 col-md-9">
              <input formControlName="weight" [id]="'weight_'+i" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-12 col-sm-12 col-md-3 col-form-label">Tailstocks</label>
          <div class="col-12 col-sm-12 col-md-9">
            <a [routerLink]="[i, 'tailstocks']" class="btn btn-outline-primary  btn-block">Go to tailstocks forms</a>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12 col-sm-12 col-md-3 col-form-label">Bar feeders</label>
          <div class="col-12 col-sm-12 col-md-9">
            <a [routerLink]="[i, 'bar-feeders']" class="btn btn-outline-primary btn-block">Go to bar feeder forms</a>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12 col-sm-12 col-md-3 col-form-label">Collets</label>
          <div class="col-12 col-sm-12 col-md-9">
            <a [routerLink]="[i, 'colets']" class="btn btn-outline-primary  btn-block">Go to collet forms</a>
          </div>
        </div>


      </inz-card-action>
    </div>
  </div>
</div>

<inz-array-action (add)="addMachineToolElement()" (save)="saveAll()"></inz-array-action>
