<inz-form-array [forms]="machineToolElementsForms" [generator]="generator" (save)="save()" label="Machine Tool Element">

  <ng-template #controls let-index="index">

    <inz-form [form]="machineToolElementsForms[index]" label="Base">
      <inz-input controlName="name" label="Name" [required]="true"></inz-input>
      <inz-input controlName="description" label="Description" [required]="false"></inz-input>
      <inz-input controlName="weight" label="Weight" [required]="false"></inz-input>
    </inz-form>

    <inz-form label="Capabilities">
      <inz-form-href [href]="index+'chucks'" label="Chucks"></inz-form-href>
      <inz-form-href [href]="index+'collets'" label="Collets"></inz-form-href>
      <inz-form-href [href]="index+'bar-feeders'" label="Bar feeders"></inz-form-href>
      <inz-form-href [href]="index+'tailstocks'" label="Tailstocks"></inz-form-href>
      <inz-form-href [href]="index+'tool-breakages'" label="Tool breakages"></inz-form-href>
      <inz-form-href [href]="index+'part-probes'" label="Part probes"></inz-form-href>
      <inz-form-href [href]="index+'tool-settings'" label="Tool settings"></inz-form-href>
      <inz-form-href [href]="index+'collants'" label="Collants"></inz-form-href>
    </inz-form>

  </ng-template>

</inz-form-array>
