<div [formGroup]="machineToolElementsForm">
  <div formArrayName="machine_tool_elements">
    <div *ngFor="let a of machineToolElements.controls; let i=index">

      <inz-card [cardName]="'Machine Tool Element #' + (1+i)" class="form-array-item">
        <div [formGroupName]="i">

          <div class="form-group row">
            <label [for]="'name_'+i" class="col-12 col-sm-12 col-md-3 col-form-label require">Name</label>
            <div class="col-12 col-sm-12 col-md-9">
              <input formControlName="name" [id]="'name_'+i" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label [for]="'description_'+i" class="col-12 col-sm-12 col-md-3 col-form-label">Description</label>
            <div class="col-12 col-sm-12 col-md-9">
              <input formControlName="description" [id]="'description_'+i" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label [for]="'weight_'+i" class="col-12 col-sm-12 col-md-3 col-form-label">Weight</label>
            <div class="col-12 col-sm-12 col-md-9">
              <input formControlName="weight" [id]="'weight_'+i" class="form-control"/>
            </div>
          </div>

        </div>


        <div class="text-right">
          <button class="btn btn-danger"
                  (click)="removeMachineToolElement(i)">Remove
          </button>
        </div>
      </inz-card>

    </div>
  </div>
</div>

<div class="text-left">
  <span class="text-primary pointer" (click)="addMachineToolElement()">Add new +</span>
</div>

<div class="text-center">
  <button class="btn btn-primary" (click)="saveAll()">Save all</button>
</div>
