<div class="app__container">

  <div class="app__tree">
  </div>

  <div class="app__table">
    <table class="table table-hover">
      <caption *ngIf="selectedNode && selectedNode.id !== root" class="table-info text-center">
        {{ selectedNode?.value }}
      </caption>
      <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 45px">#</th>
        <th scope="col">Description</th>
        <th scope="col" style="width: 150px;">Actions</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngIf="!selectedNode || machineToolSpecifications.length === 0">
        <td colspan="3" style="vertical-align: middle; font-size: 2.5em" class="table-warning text-center">Nothing to
          display
        </td>
      </tr>

      <ng-template [ngIf]="selectedNode && machineToolSpecifications.length > 0">
        <tr *ngFor="let m of machineToolSpecifications; let i =index" style="height: 0;">
          <td>{{ i+1 }}</td>
          <td>{{ m.data['description'] }}</td>
          <td style="font-size: 1.5em">
            <button (click)="editMachineToolSpecification(i)" ngbTooltip="Edit"
                    class="btn btn-sm btn-outline-secondary">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="MachineToolSpecificationToXML(i)" ngbTooltip="Generate XML"
                    class="btn btn-sm btn-outline-secondary">
              <i class="fa fa-code" aria-hidden="true"></i>
            </button>
            <button (click)="removeMachineToolSpecification(i)" ngbTooltip="Remove"
                    class="btn btn-sm btn-outline-secondary">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </ng-template>
      <tr *ngIf="selectedNode && selectedNode?.id !== 'root'">
        <td colspan="3" class="text-center">
          <button (click)="addMachineToolSpecifications()" class="btn btn-sm btn-outline-secondary">Add</button>
        </td>
      </tr>
      </tbody>
      <tbody>

      </tbody>
    </table>

  </div>

  <div class="app__image">

  </div>

</div>
