<div class="app__container">

  <div class="app__tree">
    <tree
      #treeFFS
      [(tree)]="tree"
      (menuItemSelected)="onMenuItemSelected($event)"
      (nodeSelected)="onNodeSelected($event)"
      (nodeRemoved)="onNodeRemoved($event)"
      (nodeRenamed)="onNodeRenamed($event)"
      (nodeCreated)="onNodeCreated($event)">
    </tree>
  </div>

  <div class="app__table">
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col" style="width: 45px">#</th>
        <th scope="col">Description</th>
      </tr>
      </thead>
      <tbody *ngIf="selectedNode">

      </tbody>
      <tbody *ngIf="!selectedNode">
      <tr>
        <td colspan="2" style="vertical-align: middle; font-size: 2.5em" class="table-warning text-center">Nothing to
          display
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <div class="app__image">

  </div>

</div>
