.app

  &__container
    height: 100%
    display: grid
    grid-template-columns: 350px auto
    grid-template-rows: 50% 50%
    grid-template-areas: "tree table" "tree table"

  &__tree
    grid-area: tree
    background-color: #f6f6f6
    overflow: auto

  &__table
    grid-area: table
    overflow: auto

    table
      margin-bottom: 0
      td
        vertical-align: middle
    caption
      caption-side: top
      text-align: center

//&__image
//  grid-area: image

.action
  cursor: pointer
