<inz-card cardName="Machine Tool Specification">

  <form [formGroup]="formGroup" novalidate>

    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label require">Description</label>
      <div class="col-sm-10">
        <input formControlName="description" id="description" class="form-control" required/>
      </div>
    </div>

    <div class="form-group row">
      <label for="machine_class" class="col-sm-2 col-form-label require">Machine Class</label>
      <div class="col-sm-10">
        <select formControlName="machine_class" id="machine_class" class="form-control" required>
          <option *ngFor="let item of machineClass | keys" [value]="item.key">{{item.value}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label require">Device Id</label>
      <div class="col-sm-10">
        <a routerLink="device-id" class="btn btn-outline-primary btn-block">Go to device id form</a>
      </div>
    </div>

  </form>

</inz-card>
