<inz-card cardName="Machine Tool Specification">

  <inz-form [form]="machineToolSpecificationForm" label="Base">
    <inz-machine-tool-specification-form></inz-machine-tool-specification-form>
  </inz-form>

  <inz-form [form]="machineToolSpecificationForm.controls['device_id']" label="Device id" [required]="true">
    <inz-device-id-controls></inz-device-id-controls>
  </inz-form>

  <inz-form [form]="machineToolSpecificationForm.controls['environmental_evaluation']" label="Environment"
            [required]="false">
    <inz-input controlName="evaluation_name" [required]="true" label="Evaluation name"></inz-input>
    <inz-input controlName="power_in_idling" [required]="false" label="Power in idling"></inz-input>
    <inz-input controlName="time_for_warming_up" [required]="false" label="Time for warming up"></inz-input>
  </inz-form>

  <inz-form [form]="machineToolSpecificationForm.controls['location']" label="Location">
    <inz-location-controls></inz-location-controls>
  </inz-form>


  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label required">Machining capabilities</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="machining-capabilities" class="btn btn-outline-primary btn-block">Open</a>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label">Installation</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="installation" class="btn btn-outline-primary btn-block">Open</a>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label">Its elements</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="its-elements" class="btn btn-outline-primary btn-block">Open</a>
    </div>
  </div>

  <ng-template #footer>
    <button (click)="save()" class="btn btn-primary">Save</button>
  </ng-template>

</inz-card>
