<inz-card cardName="Machine Tool Specification">

  <inz-machine-tool-specification-form
    [machineToolSpecificationForm]="machineToolSpecificationForm">

  </inz-machine-tool-specification-form>

  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label required">Device Id</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="device-id" class="btn btn-outline-primary btn-block">Open device id form</a>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label required">Machining capabilities</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="machining-capabilities" class="btn btn-outline-primary btn-block">Open machining capabilities</a>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label">Location</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="location" class="btn btn-outline-primary btn-block">Open location form</a>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label">Installation</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="installation" class="btn btn-outline-primary btn-block">Open installation form</a>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-12 col-sm-12 col-md-3 col-form-label">Its elements</label>
    <div class="col-12 col-sm-12 col-md-9">
      <a routerLink="its-elements" class="btn btn-outline-primary btn-block">Open elements</a>
    </div>
  </div>

  <div class="text-center">
    <button (click)="save()" class="btn btn-primary">Save</button>
  </div>

</inz-card>


