<div [formGroup]="formModelGroup">
  <div formArrayName="capabilities">
    <div *ngFor="let a of modelForm.controls; let i=index">

      <inz-card-action
        [cardName]="'Machining Capability #' + (1+i)"
        [disable]="modelForm.length <=1"
        (remove)="remove(i)">
        <div [formGroupName]="i">
          <inz-machining-capability-form
            [machiningCapabilityForm]="modelForm.controls[i]">
          </inz-machining-capability-form>
        </div>
      </inz-card-action>

    </div>
  </div>
</div>

<inz-array-action (add)="add()" (save)="saveAll()"></inz-array-action>
