<div [formGroup]="machiningCapabilitiesForm">
  <div formArrayName="capabilities">
    <div *ngFor="let a of capabilitiesControl.controls; let i=index">

      <inz-card-action
        [cardName]="'Machining Capability #' + (1+i)"
        [disable]="capabilitiesControl.length <=1"
        (remove)="removeCapability(i)">
        <div [formGroupName]="i">
          <inz-machining-capability-form
            [machiningCapabilityForm]="capabilitiesControl.controls[i]">
          </inz-machining-capability-form>
        </div>
      </inz-card-action>

    </div>
  </div>
</div>

<inz-array-action (add)="addCapability()" (new)="saveAll()"></inz-array-action>
