<div [formGroup]="formModelGroup">
  <div formArrayName="capabilities">
    <div *ngFor="let a of modelForm.controls; let i=index">

      <inz-card [cardName]="'Machining Capability #' + (1+i)">
        <inz-machining-capability-form [machiningCapabilityForm]="modelForm.controls[i]">
        </inz-machining-capability-form>

        <ng-template #footer>
          <button class="btn btn-danger" (click)="remove(i)">Remove</button>
        </ng-template>
      </inz-card>

    </div>
  </div>
</div>

<inz-array-action (add)="add()" (save)="saveAll()"></inz-array-action>
