<inz-form-heading>Machine Tool Elements</inz-form-heading>
<dynamic-bootstrap-form [group]="formGroup" [model]="formModel">

  <ng-template modelId="array" let-group let-index="index" let-context="context">

    <div class="btn-group">
      <a routerLink="{{index}}/tailstock" class="btn btn-primary">Tailstock</a>
      <a routerLink="{{index}}/bar-feeder" class="btn btn-primary">Bar feeder</a>
      <a routerLink="{{index}}/collet" class="btn btn-primary">Collet</a>
      <a routerLink="{{index}}/chuck" class="btn btn-primary">Chuck</a>
    </div>

    <div class="text-right">
      <button (click)="removeItem(context, index)" class="btn btn-danger">Remove</button>
    </div>

  </ng-template>

</dynamic-bootstrap-form>

<inz-add-item>
  <div (click)="addItem()">Add item</div>
</inz-add-item>

