<div class="node-container" (click)="toggleChildren()">

  <div class="node-icon">
    <span *ngIf="folder.isCollapse" class="fa fa-folder-o"></span>
    <span *ngIf="!folder.isCollapse" class="fa fa-folder-open-o"></span>
  </div>

  <div class="node-content">
    <span class="node-name" *ngIf="!isEditing">{{folder.name}}</span>
    <form *ngIf="isEditing" [formGroup]="nodeForm" class="node-form" (submit)="renameNode()">
      <input
        #inputName
        placeholder="Folder name"
        (focusout)="cancelEdit()"
        formControlName="name"
        type="text">
      <button type="submit" hidden></button>
    </form>
  </div>

</div>

<div class="actions-container" ngbDropdown>

  <div class="node-actions" ngbDropdownToggle>
    <span class="fa fa-ellipsis-h icon-dropdown" aria-hidden="true"></span>
  </div>

  <div ngbDropdownMenu>
    <button class="dropdown-item" (click)="toggleEdit()">
      <span class="fa fa-pencil" aria-hidden="true"></span>
      Edit
    </button>
    <button class="dropdown-item" (click)="emitAddChild()">
      <span class="fa fa-plus" aria-hidden="true"></span>
      New
    </button>
    <button class="dropdown-item" (click)="emitRemove()">
      <span class="fa fa-trash" aria-hidden="true"></span>
      Remove
    </button>
  </div>

</div>
