\:host
  display: flex
  height: 35px
  align-items: center
  padding-left: 10px
  cursor: pointer

  &.is-selected, &:hover
    background-color: #eee

.node-container
  width: 100%
  display: flex

.node-icon
  padding-right: 10px
  font-size: 1.3em

.node-content
  width: 100%

.node-name
  padding-bottom: 1px
  margin: 3px
  display: inline-block
