\:host
  display: flex
  height: 35px
  align-items: center
  padding-left: 10px
  cursor: pointer
  &:hover
    background-color: #eee
    .node-actions
      opacity: 1
    .node-name
      padding-bottom: 0

.node-container
  width: 100%
  display: flex

.node-icon
  padding-right: 10px
  font-size: 1.3em

.node-content
  width: 100%

.node-input

.node-name
  padding-bottom: 1px
  margin: 3px
  display: inline-block

.node-actions
  opacity: 0

.dropdown-toggle::after
  content: none

.icon-dropdown
  padding: 5px 10px
