<inz-form [form]="machiningCapabilityForm">

  <inz-select controlName="capability" [options]="machiningCapabilityProfile" [required]="true"
              label="Capability"></inz-select>
  <inz-input controlName="machining_accuracy" [required]="false" label="Machining accuracy"></inz-input>
  <inz-input controlName="description" [required]="false" label="Description"></inz-input>

  <inz-form [form]="machiningCapabilityForm.controls['machining_size']" label="Machine size">
    <inz-input controlName="description" [required]="false" label="Description"></inz-input>
    <inz-input controlName="x" [required]="true" label="X"></inz-input>
    <inz-input controlName="y" [required]="true" label="Y"></inz-input>
    <inz-input controlName="z" [required]="true" label="Z"></inz-input>
  </inz-form>

</inz-form>
