<div class="folders border border-left-0 border-top-0 border-bottom-0 border-dark">
  <div class="folders-actions">
    <div>
      <button (click)="addNewCollection()"
              title="Add root folder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-folder"></span>
      </button>
      <button (click)="addSubfolderToSelectedFolder()"
              [disabled]="!selectedFolderId"
              title="Add subfolder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-code-fork" style="width: 12px;"></span>
      </button>
      <button (click)="editSelectedFolder()"
              [disabled]="!selectedFolderId"
              title="Edit folder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-pencil"></span>
      </button>
      <button (click)="removeSelectedFolder()"
              [disabled]="!selectedFolderId"
              title="Remove folder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-trash-o"></span>
      </button>
    </div>
    <div>
      <button (click)="refreshTree()"
              title="Refresh tree"
              class="btn btn-outline-secondary btn-sm">
        <span class="fa fa-refresh"></span>
      </button>
    </div>
  </div>
  <inz-folder-node [folders]="tree"></inz-folder-node>
</div>

<!--<div class="folder-content" *ngIf="selectedFolderKey">-->
<!--<p class="p-3 bg-secondary mb-0 text-white text-center">{{selectedFolderKey.name}}</p>-->

<!--<div *ngIf="!form" class="text-center">-->
<!--<p class="h4 mt-5">This folder don't contain any form!</p>-->

<!--<button (click)="addFormToFolder()" class="btn btn-success">Create form</button>-->

<!--<div ngbDropdown class="d-inline-block">-->
<!--<button class="btn btn-primary" ngbDropdownToggle>Use predefined</button>-->
<!--<div ngbDropdownMenu>-->
<!--<button (click)="addMachineToolSpecificationToFolder()" class="dropdown-item">Machine tool specification-->
<!--</button>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->

<!--<div *ngIf="form">-->
<!--<inz-form-recors-table [form]="form"></inz-form-recors-table>-->
<!--<div class="text-center">-->
<!--<button (click)="addFormData()" class="btn btn-sm btn-secondary mb-5 mt-1">Add more</button>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
