\:host
  height: 100%
  display: flex

.folders
  width: 300px
  flex-shrink: 1
  overflow: auto

.folder-content
  width: calc(100% - 300px)
  overflow-y: auto
  height: 100%

.folders-actions
  padding: 5px 10px
  border-bottom: 1px solid #eee
  position: sticky
  display: flex
  justify-content: space-between
  top: 0
  background-color: #fff
