<div class="folders border border-left-0 border-top-0 border-bottom-0 border-dark">
  <div class="folders-actions">
    <div>
      <button (click)="addNewCollection()"
              title="Add root folder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-folder"></span>
      </button>
      <button (click)="addSubfolderToSelectedFolder()"
              [disabled]="!selectedFolderId"
              title="Add subfolder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-code-fork" style="width: 12px;"></span>
      </button>
      <button (click)="editSelectedFolder()"
              [disabled]="!selectedFolderId"
              title="Edit folder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-pencil"></span>
      </button>
      <button (click)="removeSelectedFolder()"
              [disabled]="!selectedFolderId"
              title="Remove folder"
              class="btn btn-outline-secondary btn-sm mr-1">
        <span class="fa fa-trash-o"></span>
      </button>
    </div>
    <div>
      <button (click)="refreshTree()"
              title="Refresh tree"
              class="btn btn-outline-secondary btn-sm">
        <span class="fa fa-refresh"></span>
      </button>
    </div>
  </div>
  <inz-folder-node [folders]="tree"></inz-folder-node>
</div>


<div class="folder-content" *ngIf="hasSelectedFolderForm">
  <ng-container *ngIf="!selectedForm.predefined">
    <inz-forms-display [formId]="selectedFolderId"></inz-forms-display>

    <div class="text-center m-3">
      <a [routerLink]="['/forms', selectedFolderId, 'records', 'add']" class="btn btn-primary">Add new records</a>
    </div>
  </ng-container>

  <ng-container *ngIf="selectedForm.predefined">
    <inz-machine-tool-display [formId]="selectedFolderId"></inz-machine-tool-display>
    <div class="text-center m-3">
      <a [routerLink]="['/forms', 'predefined','machine_tool_specification']"
         [queryParams]="{formId: selectedFolderId}"
         class="btn btn-primary">Add new record</a>
    </div>
  </ng-container>

</div>

<div class="folder-content text-center no-content" *ngIf="!hasSelectedFolderForm && selectedFolderId">
  <i class="info-icon fa fa-info-circle" aria-hidden="true"></i>
  <p class="info-text">This folder is empty</p>

  <a [routerLink]="['/forms','create']" [queryParams]="{folderId: selectedFolderId}" class="btn btn-primary">
    Create custom form
  </a>
  <button (click)="createMachineToolSpecificationForm()" class="btn btn-primary" style="margin-left: 15px">
    Create machine tool specification form
  </button>
</div>


<div *ngIf="!selectedFolderId" class="folder-content not-selected-folder">
  <i class="arrow fa fa-hand-o-left" aria-hidden="true"></i>
  <p>Select folder to display content</p>
</div>
