<inz-folder-tree class="folders"
                 [tree]="tree"
                 (select)="onFolderSelect($event)"
                 (rename)="onFolderRename($event)"
                 (add)="onFolderAdd($event)"
                 (collapse)="onFolderCollapse($event)"
                 (remove)="onFolderRemove($event)"
></inz-folder-tree>

<!--<div class="content">-->
  <!--<div *ngIf="!form">-->
    <!--<button (click)="addFormToFolder()" class="btn btn-success">Add form</button>-->
  <!--</div>-->
<!---->
<!--</div>-->
