<inz-card cardName="Location">

  <inz-form [form]="locationForm">
    <inz-input controlName="business_unit" [required]="true" label="Business Unit"></inz-input>
    <inz-input controlName="plant_location" [required]="true" label="Plant Location"></inz-input>
    <inz-input controlName="building" [required]="true" label="Building"></inz-input>
    <inz-input controlName="cell" [required]="true" label="Cell"></inz-input>

  </inz-form>

  <ng-template #footer>
    <button (click)="saveForm()" class="btn btn-primary" [disabled]="!locationForm.valid">Save</button>
  </ng-template>

</inz-card>
