<inz-form [form]="formGroup" label="Model">
  <inz-input controlName="name" label="Name"></inz-input>

  <inz-form-array [forms]="inputs" label="Input" [formGroupGenerator]="createInputFormGroup">

    <ng-template #controls let-index="index">

      <inz-form [form]="inputs.controls[index]">
        <inz-input controlName="name" label="Name"></inz-input>
        <inz-input controlName="label" label="Label"></inz-input>
        <inz-input controlName="type" label="Type" type="select" [options]="inputTypes"></inz-input>
      </inz-form>

    </ng-template>

  </inz-form-array>

</inz-form>

<button (click)="save()">Save this sheet</button>
