<inz-form-array [forms]="formGroups" [generator]="generator" (save)="save()" label="Bar feeder">

  <ng-template #controls let-index="index">
    <inz-form [form]="formGroups[index]" label="">
      <inz-input controlName="description" label="Description" ></inz-input>
      <inz-input controlName="minimum_stock_diameter" label="Minimum stock diameter" ></inz-input>
      <inz-input controlName="maximum_stock_diameter" label="Maximum stock diameter" ></inz-input>
      <inz-input controlName="maximum_stock_length" label="Maximum stock length" ></inz-input>
    </inz-form>
  </ng-template>

</inz-form-array>
