<inz-form-array [forms]="barFeederForm" [formGroupGenerator]="generator" label="Bar feeder">

  <ng-template #controls let-index="index">
    <inz-form [form]="barFeederForm.controls[index]" label="">
      <inz-input controlName="description" label="Description"></inz-input>
      <inz-input controlName="minimum_stock_diameter" label="Minimum stock diameter"></inz-input>
      <inz-input controlName="maximum_stock_diameter" label="Maximum stock diameter"></inz-input>
      <inz-input controlName="maximum_stock_length" label="Maximum stock length"></inz-input>
    </inz-form>
  </ng-template>

</inz-form-array>
