<div class="node-icon">
  <span *ngIf="folder.isCollapse" class="fa fa-folder-o"></span>
  <span *ngIf="!folder.isCollapse" class="fa fa-folder-open-o"></span>
</div>

<div class="node-content">
  <span (click)="toggleChildren()" class="node-name" [ngClass]="{'hide':!isEditing}">{{folder.name}}</span>
  <input #inputEdit placeholder="Folder name" [ngClass]="{'hide':isEditing}" type="text" [(ngModel)]="folder.name">
</div>

<div class="node-actions">
  <div ngbDropdown>
    <div ngbDropdownToggle>
      <span class="fa fa-ellipsis-v icon-dropdown" aria-hidden="true"></span>
    </div>
    <div ngbDropdownMenu>
      <button class="dropdown-item" (click)="toggleEdit()">
        <span class="fa fa-pencil" aria-hidden="true"></span>
        Edit
      </button>
      <button class="dropdown-item" (click)="emitAddChild()">
        <span class="fa fa-plus" aria-hidden="true"></span>
        New
      </button>
      <button class="dropdown-item" (click)="emitRemove()">
        <span class="fa fa-trash" aria-hidden="true"></span>
        Remove
      </button>
    </div>
  </div>

</div>
