<inz-form-array [forms]="toolSetting" [formGroupGenerator]="generator" label="Tailstock">

  <ng-template #controls let-index="index">
    <inz-form [form]="toolSetting.controls[index]" label="Base">
      <inz-input controlName="description" label="Description"></inz-input>
      <inz-input type="checkbox" controlName="measuring_radius" label="Measuring radius"></inz-input>
      <inz-input type="checkbox" controlName="measuring_length" label="Measuring length"></inz-input>
      <inz-input controlName="measure_time" label="Measure time"></inz-input>
      <inz-input type="select" controlName="probe_type" label="Probe type"
                 [options]="probeType"></inz-input>


      <inz-device-id-form [deviceIdForm]="toolSetting.controls[index].controls['device_id']"
                          label="Device id"></inz-device-id-form>

    </inz-form>
  </ng-template>

</inz-form-array>
