<inz-form [form]="rotaryAxisForm" [label]="label" [required]="required">

  <inz-machine-tool-axis-form [machineToolAxisForm]="rotaryAxisForm"></inz-machine-tool-axis-form>

  <inz-input controlName="displacement_angle_error" label="Displacement angle error"></inz-input>
  <inz-input controlName="repeatability_angle_error" label="Repeatability angle error"></inz-input>
  <inz-input controlName="rapid_traverse_rotation_feed_rate" label="Rapid traverse rotation feed rate"></inz-input>
  <inz-input controlName="minimum_cutting_rotation_feed_rate" label="Minimum cutting rotation feed rate"></inz-input>
  <inz-input controlName="maximum_cutting_rotation_feed_rate" label="Maximum cutting rotation feed rate"></inz-input>
  <inz-input controlName="maximum_rotation_deceleration" label="Maximum rotation deceleration"></inz-input>
  <inz-input controlName="maximum_rotation_acceleration" label="Maximum rotation acceleration"></inz-input>
  <inz-input controlName="maximum_rotation_jerk" label="Maximum rotation jerk"></inz-input>

</inz-form>
