<form [formGroup]="machineToolRequirementsForm" (ngSubmit)="onSubmit()" novalidate>
  <input type="hidden" formControlName="id">

  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" id="description" formControlName="description">
  </div>

  <div class="form-group">
    <label for="number_of_tools_in_tool_magazine">Number of tools in tool magazine</label>
    <input type="number" class="form-control" id="number_of_tools_in_tool_magazine"
           formControlName="number_of_tools_in_tool_magazine">
  </div>

  <div class="form-check">
    <label class="form-check-label" for="automatically_pallet_changeable">
      <input type="checkbox" class="form-check-input" id="automatically_pallet_changeable"
             formControlName="automatically_pallet_changeable">
      Automatically pallet changeable</label>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>
