<h3>Machine tool requirement</h3>

<form [formGroup]="machineToolRequirementsForm" (ngSubmit)="onSubmit()" novalidate>
  <input type="hidden" formControlName="id">

  <!--<div class="form-group">-->
    <!--<label for="node_id">Tree</label>-->
    <!--<select id="node_id" class="custom-select" (change)="updateNode($event.target.value)">-->
      <!--<option *ngFor="let node of nodes"-->
              <!--[value]="node.id"-->
              <!--[selected]="false">-->
        <!--{{node.value}}-->
      <!--</option>-->
    <!--</select>-->
  <!--</div>-->


  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" id="description" formControlName="description">
  </div>

  <div class="form-group">
    <label for="number_of_tools_in_tool_magazine">Number of tools in tool magazine</label>
    <input type="number" class="form-control" id="number_of_tools_in_tool_magazine"
           formControlName="number_of_tools_in_tool_magazine">
  </div>

  <div class="form-check">
    <label class="form-check-label" for="automatically_pallet_changeable">
      <input type="checkbox" class="form-check-input" id="automatically_pallet_changeable"
             formControlName="automatically_pallet_changeable">
      Automatically pallet changeable</label>
  </div>

  <button [disabled]="!machineToolRequirementsForm.valid" type="submit" class="btn btn-primary">Save</button>

</form>

