<inz-card [cardName]="label+' #'+(i+1)" *ngFor="let group of forms; let i = index">

  <ng-template *ngTemplateOutlet="controls;context:{index:i}"></ng-template>

  <ng-template #footer>
    <div class="text-right">
      <button class="btn btn-danger" (click)="removeGroup(i)">Remove</button>
    </div>
  </ng-template>

</inz-card>

<div *ngIf="forms.length === 0" class="alert alert-secondary text-center" role="alert">
  <h3>Any <b>{{label}}</b> to display</h3>
</div>

<p>
  <span (click)="addGroup()" class="text-primary" style="cursor: pointer;">Add new group +</span>
</p>
<div class="text-center">
  <button (click)="saveGroups()" class="btn btn-primary">Save</button>
</div>
