<inz-card [cardName]="label+' #'+(i+1)" *ngFor="let group of forms.controls; let i = index">

  <ng-template *ngTemplateOutlet="controls;context:{index:i}"></ng-template>

  <ng-template #footer>
    <div class="text-right">
      <button class="btn btn-danger" (click)="removeGroup(i)">Remove</button>
    </div>
  </ng-template>

</inz-card>

<div *ngIf="forms.length === 0" class="jumbotron text-center">
  <h1 class="display-4">Nothing to display!</h1>
  <p class="lead">Click button below, to add new <strong class="font-weight-bold text-uppercase">{{label}}</strong></p>
</div>

<button (click)="addGroup()" class="btn btn-success">Add new</button>
