<inz-card cardName="Create form">

  <inz-form [form]="formGroup">

    <inz-input controlName="name" label="Form name"></inz-input>

    <inz-form label="Inputs" style="margin-bottom: 0"></inz-form>
    <div class="row">
      <div class="col-12 col-md-4">
        <span>Key (You can use 'a-z', 'A-Z' and '_')</span>
      </div>
      <div class="col-12 col-md-4">
        <span>Label</span>
      </div>
      <div class="col-12 col-md-3">
        <span>Type</span>
      </div>
    </div>

    <inz-form [form]="inputs.controls[i]" *ngFor="let control of inputs.controls; let i=index" style="margin-bottom: 0">
      <div class="row">
        <div class="col-12 col-md-4">
          <inz-input controlName="name"></inz-input>
        </div>
        <div class="col-12 col-md-4">
          <inz-input controlName="label"></inz-input>
        </div>
        <div class="col-12 col-md-3">
          <inz-input controlName="type" type="select" [options]="inputTypes"></inz-input>
        </div>
        <div class="col-12 col-md-1 text-right">
          <button (click)="removeRow(i)" [disabled]="hasBeenSaved" class="btn btn-danger">
            <span class="fa fa-times"></span>
          </button>
        </div>
      </div>
    </inz-form>

    <div class="text-right">
      <button (click)="addRow()" [disabled]="hasBeenSaved" class="btn btn-info">Add new field</button>
    </div>

  </inz-form>

  <ng-template #footer>
    <button [disabled]="!formGroup.valid || hasBeenSaved" (click)="save()" class="btn btn-success">Save form</button>
  </ng-template>

</inz-card>
