<inz-card *ngIf="formGroup" [cardName]="formName">

  <inz-form [form]="formGroup">
    <inz-input *ngFor="let input of inputs"
               [label]="input.label"
               [type]="input.type"
               [controlName]="input.name"></inz-input>
  </inz-form>

  <ng-template #footer>
    <button [disabled]="!formGroup?.valid" (click)="saveAndContinue()" class="btn btn-success">Save and continue edit
    </button>
    <button [disabled]="!formGroup?.valid" (click)="saveAndCreateNext()" class="btn btn-success">Save and create next
    </button>
  </ng-template>

</inz-card>
