<inz-form-array [forms]="formGroups" [generator]="generator" (save)="save()" label="Tailstock">

  <ng-template #controls let-index="index">
    <inz-form [form]="formGroups[index]" label="Base">
      <inz-input controlName="description" [required]="false" label="Description"></inz-input>
      <inz-input controlName="spindle_name" [required]="true" label="Spindle Name"></inz-input>
      <inz-input controlName="maximum_workpiece_weight_of_quill" [required]="true"
                 label="Maximum Workpiece Weight Of Quill"></inz-input>
    </inz-form>
  </ng-template>

</inz-form-array>
