<inz-form-array [forms]="tailstockForm" [formGroupGenerator]="generator" label="Tailstock">

  <ng-template #controls let-index="index">
    <inz-form [form]="tailstockForm.controls[index]">
      <inz-input controlName="description" label="Description"></inz-input>
      <inz-input controlName="spindle_name" label="Spindle Name"></inz-input>
      <inz-input controlName="maximum_workpiece_weight_of_quill"
                 label="Maximum Workpiece Weight Of Quill"></inz-input>
    </inz-form>
  </ng-template>

</inz-form-array>
