<inz-form [form]="linearAxisForm" [label]="label" [required]="required">

  <inz-machine-tool-axis-form [machineToolAxisForm]="linearAxisForm"></inz-machine-tool-axis-form>

  <inz-input controlName="minimum_range_of_motion" label="Minimum rangeOfMotion"></inz-input>
  <inz-input controlName="maximum_range_of_motion" label="Maximum rangeOfMotion"></inz-input>
  <inz-input controlName="displacement_error" label="Displacement error"></inz-input>
  <inz-input controlName="repeatability_error" label="Repeatability error"></inz-input>
  <inz-input controlName="rapid_traverse_feed_rate" label="Rapid traverseFeedRate"></inz-input>
  <inz-input controlName="minimum_cutting_feed_rate" label="Minimum cuttingFeedRate"></inz-input>
  <inz-input controlName="maximum_cutting_feed_rate" label="Maximum cuttingFeedRate"></inz-input>
  <inz-input controlName="maximum_acceleration" label="Maximum acceleration"></inz-input>
  <inz-input controlName="maximum_deceleration" label="Maximum deceleration"></inz-input>
  <inz-input controlName="maximum_jerk" label="Maximum jerk"></inz-input>

</inz-form>
