<div *ngFor="let folder of tree">

  <inz-tree-node class="folder-item"
                 [folder]="folder"
                 (rename)="emitRename($event)"
                 (select)="emitSelect($event)"
                 (collapse)="emitCollapse($event)"
                 (add)="emitAddChild($event)"
                 (remove)="emitRemove($event); removeFolder($event)"
  ></inz-tree-node>

  <inz-folder-tree *ngIf="!folder.isCollapse && folder.children?.length"
                   class="folder-item"
                   [tree]="folder.children"
                   (rename)="emitRename($event)"
                   (select)="emitSelect($event)"
                   (collapse)="emitCollapse($event)"
                   (add)="emitAddChild($event)"
                   (remove)="emitRemove($event)"
  ></inz-folder-tree>

</div>


