.app

  &__container
    height: 100%
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 50% 50%
    grid-template-areas: "tree table" "tree image"

  &__tree
    grid-area: tree
    background-color: #c4c4c4

  &__table
    grid-area: table
    background-color: #a8a8a8

  &__image
    grid-area: image
    background-color: #6a6a6a
