<div class="form-group row" [formGroup]="form">

  <label [for]="randomId" *ngIf="label"
         class="col-12 col-md-3 col-form-label"
         [ngClass]="{'required': required}">
    {{label}}
  </label>

  <div [ngSwitch]="type"
       [ngClass]="{'col-12 col-sm-12 col-md-9':label,'col-12':!label}">
    <div class="input-group">

      <div class="input-group-prepend" *ngIf="prepend">
        <ng-template *ngTemplateOutlet="prepend"></ng-template>
      </div>

      <input *ngSwitchCase="'text'" [id]="randomId" type="text" [formControlName]="controlName" class="form-control"/>

      <select *ngSwitchCase="'select'" [id]="randomId" type="text" [formControlName]="controlName"
              class="form-control custom-select ">
        <option *ngFor="let option of options | keys" [value]="option.key">{{option.value}}</option>
      </select>

      <input *ngSwitchCase="'number'" [id]="randomId" type="number" [formControlName]="controlName"
             class="form-control"/>

      <div *ngSwitchCase="'checkbox'" class="form-check" style="margin-left: 20px; margin-top: 8px;">
        <input class="form-check-input" type="checkbox" [id]="randomId" [formControlName]="controlName">
      </div>

      <input *ngSwitchDefault [id]="randomId" type="text" [formControlName]="controlName" class="form-control"/>


      <div class="input-group-append" *ngIf="append">
        <ng-template *ngTemplateOutlet="append"></ng-template>
      </div>

    </div>


  </div>

</div>
