<inz-form-array [forms]="formGroups" [generator]="generator" (save)="save()" label="Collet">

  <ng-template #controls let-index="index">
    <inz-form [form]="formGroups[index]">
      <inz-input controlName="description" [required]="false" label="Description"></inz-input>
      <inz-input controlName="collet_type" [required]="true" label="Collet type"></inz-input>
      <inz-input controlName="minimum_part_diameter" [required]="true" label="Minimum Part Diameter"></inz-input>
      <inz-input controlName="maximum_part_diameter" [required]="true" label="Maximum Part Diameter"></inz-input>
    </inz-form>
  </ng-template>

</inz-form-array>
