<inz-form [form]="spindle_bore_depth" [label]="label" [required]="required">

  <inz-input type="number" controlName="minimum_drive_speed" label="Minimum drive speed"></inz-input>
  <inz-input type="number" controlName="maximum_drive_speed" label="Maximum drive speed"></inz-input>
  <inz-input type="number" controlName="minimum_drive_torque" label="Minimum drive torque"></inz-input>
  <inz-input type="number" controlName="maximum_drive_torque" label="Maximum drive torque"></inz-input>

</inz-form>
