<inz-form [form]="machiningCapabilityForm" label="Base">

  <inz-input type="select" controlName="capability" [options]="machiningCapabilityProfile"
             label="Capability"></inz-input>
  <inz-input controlName="machining_accuracy"  label="Machining accuracy"></inz-input>
  <inz-input controlName="description"  label="Description"></inz-input>

  <inz-form [form]="machiningCapabilityForm.controls['machining_size']" label="Machine size">
    <inz-input controlName="description"  label="Description"></inz-input>
    <inz-input controlName="x"  label="X"></inz-input>
    <inz-input controlName="y"  label="Y"></inz-input>
    <inz-input controlName="z"  label="Z"></inz-input>
  </inz-form>

</inz-form>
