<inz-form [form]="spindleForm" [label]="label" [required]="required">

  <inz-input controlName="description" label="Description"></inz-input>
  <inz-input controlName="spindle_power" label="Spindle power"></inz-input>
  <inz-input controlName="spindle_name" label="Spindle name"></inz-input>
  <inz-input controlName="spindle_manufacturer" label="Spindle manufacturer"></inz-input>
  <inz-input controlName="manufacturer_model_designation" label="Manufacturer model designation"></inz-input>

</inz-form>
